<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msp.mapper.ArticleMapper">
    <!-- 二级缓存 -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache> -->
  <select id="homeList" resultType="Article">
  			select * from article order by updatetime desc
  </select>
  <select id="getBlog" resultType="Article">
  			select * from article where type='b' order by updatetime
  </select>
  <select id="getTalk" resultType="Article">
  			select * from article where type='t' order by updatetime
  </select>
  <select id="getArticle" parameterType="String" resultType="Article">
  			select * from article where tid=#{value}
  </select>
</mapper>